.character-overview {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 2rem;
  max-width: 900px;
  
  border-radius: 12px;
}

.char-info {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.char-title {
  font-size: 4rem; 
  font-weight: 700;
  color: #222;
  padding-left: 1rem;
}

.char-line {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 0.5rem;
}

.char-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.char-image {
  width: 100%;
  max-height: 500px;
  min-width: 220px;
  object-fit: contain;
}

.char-type{
  border: #222;
  color: black;
}


