body{
    background-color: #FFFAFA;
}

.teacher-lesson-page-container {
    display: grid;
    grid-template-areas: 
        "selector lessoncards leaderboard";
    grid-template-columns: 1fr 3fr 2fr;
    column-gap: 25px;
    padding: 2em;
}

.selector-area {
    grid-area: selector;
}

.lesson-card-area-title{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 1em 2em;
    background-color: #8A2D3B;
    color: white;
}

.lesson-card-area {
    grid-area: lessoncards;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    /* padding: 1em; */
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    gap: 16px;
    /* max-height: 600px; */
    height: 100%; 
    overflow-y: auto;
    scrollbar-width: none; 
}

.list-of-lessons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 500px;
    overflow-y: auto; 
    scrollbar-width: none; 
    padding: 0px 1em;
    padding-bottom: 1em;
}

/* For Webkit browsers like Chrome, Safari */
.lesson-card-area::-webkit-scrollbar {
    display: none; /* Hides the scrollbar completely */
}

.leaderboard-container {
    grid-area: leaderboard;
    background-color: #f9f9f9;
    max-height: fit-content;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
}


/* No Comment Div 
.no-class-message {
    display: flex;
    align-items: center;
    height: 500px;
     padding: 2rem; 
    text-align: center;
    padding-top: 5em;
    color: #555;
    justify-content: center;
  }
  */

  .welcome {
      background-color: #eee;
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid #ccc;
    }
    .welcome h2 {
      margin: 0;
      font-size: 24px;
    }
    .welcome p {
      margin: 5px 0 0;
      font-size: 16px;
      color: #555;
    }
    .lesson-page-container {
      display: flex;
      min-height: 70vh;
    }
    .lesson-panel {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;        /* gap-6 */
        padding: 1.5rem;    /* p-6 */
        align-items: flex-start; /* items-start */
        width: 60%;
        background-color: #f4f4f4;
        padding: 20px;
        box-sizing: border-box;
    }
    .leaderboard-panel {
      width: 40%;
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.15);
      overflow: hidden;
    }

    .lesson-card{
        flex: none;
        width: 16rem; /* w-64 */
        border-radius: 1rem; /* rounded-2xl */
        overflow: hidden;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                    0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
        background-color: #ffffff; /* bg-white */
    }

    .lesson-image {
        background-color: powderblue;
        height: 6rem;
    }

    .lesson-image img {
        width: 100%;
        object-fit: cover;
    }