body{
    background-color: #FFFAFA;
}

.teacher-lesson-page-container {
    display: grid;
    grid-template-areas: 
        "selector lessoncards leaderboard";
    grid-template-columns: 1fr 3fr 2fr;
    column-gap: 25px;
    padding: 2em;
}

.selector-area {
    grid-area: selector;
}

.lesson-card-area-title{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 1em 2em;
    background-color: #8A2D3B;
    color: white;
}

.lesson-card-area {
    grid-area: lessoncards;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    /* padding: 1em; */
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    gap: 16px;
    max-height: 600px;
    height: 100%; 
    overflow-y: auto;
    scrollbar-width: none; 
}

.list-of-lessons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 500px;
    height: 500px;
    overflow-y: auto; 
    scrollbar-width: none; 
    padding: 0px 1em;
    padding-bottom: 1em;
}

/* For Webkit browsers like Chrome, Safari */
.lesson-card-area::-webkit-scrollbar {
    display: none; /* Hides the scrollbar completely */
}

.leaderboard-container {
    grid-area: leaderboard;
    background-color: #f9f9f9;
    max-height: fit-content;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
}
