.quiz-completion-container {
    text-align: center;
}

.quiz-completed-count {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.quiz-completed-label {
    font-size: 0.9rem;
    color: #777;
}


.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid black;
    padding-top: 1em;
    /* border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.show-levels-btn{
    padding: 1em;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    background-color: #38ca79;
    color: white;
    cursor: pointer;
}

.show-levels-btn:hover{
    background-color: #37a166;
}


.bottom-container{
    width: 100%;
}