/* LeaderboardUser.css */
.leaderboard-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px;
    min-height: 40px;
    background-color: rgb(255, 254, 254);
    border: solid 1px rgba(66, 65, 65, 0.167)
}

.rank-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
    margin-right: 10px;
}

.rank-1 {
    background-color: #ffc107; /* Gold */
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.rank-2 {
    background-color: #797c7ed5; /* Silver/Gray */
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.rank-3 {
    background-color: #917c29; /* Bronze-ish */
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.user-info {
    text-align: left;    
}

.user-info .name {
    font-weight: bold;
    color: #333;
    display: block;
    font-size: 0.95em;
}

.user-info .nickname {
    color: #777;
    font-size: 0.85em;
    display: block;
}

.user-rank-div{
    display: flex;
    gap: 10px;
}

.score-time-div{
    display: flex;
    gap: 40px;
    padding-right: 10px;
}