
.leaderboard-header {
    width: 100%;
    padding: 1rem 1rem 0.8rem;
    text-align: center;
    background-color: #8A2D3B;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.leaderboard-header h1 {
    font-size: 2.5em;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    
}

.leaderboard-th-rank{
    padding: 5px 10px;
    width: 15%;
}
.leaderboard-th-name{
    width: 70%;
    text-align: left;   
}
.leaderboard-th-rank{
    width: 15%;
}

.leaderboard-wrapper {
    width: 100%;
    position: relative;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Hide scrollbar for Webkit */
.leaderboard-wrapper::-webkit-scrollbar {
display: none;
}

.leaderboard-table {
width: 100%;
border-collapse: collapse;
table-layout: fixed;
color: #141a39;
}

.leaderboard-table tr {
transition: all 0.2s ease-in-out;
}

.leaderboard-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.leaderboard-table tbody tr:first-child {
    background-color: #f1ea2c;
    color: #000000;
}

.leaderboard-table thead th{
    padding: 16px;
}


.leaderboard-table td {
font-family: "Rubik", sans-serif;
font-size: 1rem;
padding: 0.8rem;
}

.leaderboard-number {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.leaderboard-name {
    text-align: left;
}

.leaderboard-points {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
  