.main-container {
    display: flex;
    height: 100%;
    padding: 50px 20px 50px 20px;
    gap: 1rem;
    background-color: white;
  }
  
  .beginner-container {
    display: flex; 
  }
  
  .beginner-container > *:nth-child(1) {
    flex: 6;
  }
  
  .beginner-container > *:nth-child(2) { 
    flex: 4; 
  }

  .home-container{
    justify-content: center;
    height: max-content;
  }
  